.animate-slide-toLeft {
  animation: slideLeft 15s linear infinite;
}
.animate-slide-toLeft:hover {
  animation-play-state: paused;
}
@keyframes slideLeft {
  to {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-slide-toRight {
  animation: slideRight 15s linear infinite;
}
.animate-slide-toRight:hover {
  animation-play-state: paused;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.spin {
  animation: rotate 25s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-reverse {
  animation: spin-reverse 25s linear infinite;
}
@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* projects */
.projects-container {
  overflow: hidden;
}
.projects-container:hover .inner-scroller {
  animation-play-state: paused !important;
}
.projects-container .inner-scroller {
  animation: scroll 25s linear infinite;
}
@keyframes scroll {
  to {
    transform: translateY(calc(-50% - 0.5rem));
  }
}
