.animate-slide-toLeft {
  animation: slideLeft 15s linear infinite;
}
.animate-slide-toLeft:hover {
  animation-play-state: paused;
}
@keyframes slideLeft {
  to {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-slide-toRight {
  animation: slideRight 15s linear infinite;
}
.animate-slide-toRight:hover {
  animation-play-state: paused;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.spin {
  animation: rotate 25s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-reverse {
  animation: spin-reverse 25s linear infinite;
}
@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* projects */
.projects-container:hover .inner-scroller {
  animation-play-state: paused !important;
}
.projects-container .inner-scroller {
  /* transition: transform 0.5s ease-out; */
  animation: scrollY 15s linear infinite;
}
@keyframes scrollY {
  to {
    transform: translateY(calc(-50% + 0.7rem));
  }
}
@keyframes scrollX {
  to {
    transform: translateX(calc(-50% + 0.7rem));
  }
}
@media (max-width: 1280px) {
  .projects-container .inner-scroller {
    width: max-content;
    flex-wrap: nowrap;
    animation-name: scrollX;
  }
}

.project-description-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

img:hover ~ .project-description-container {
  opacity: 1;
}
