@import "base.css";
@import "shapes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.pos-1 {
  top: 30%;
  right: 2.5rem;
}
.pos-2 {
  top: 33%;
  left: 3rem;
}
.pos-3 {
  top: 66%;
  left: 1.5rem;
}
.topRight {
  top: 2.5rem;
  right: 1.5rem;
}

.text-stroke {
  stroke-linejoin: round;
  text-anchor: middle;
  paint-order: stroke fill;
  /* stroke: white; */
  stroke-width: 3px;
}

.animate-slide-toLeft {
  animation: slideLeft 15s linear infinite;
}
.animate-slide-toLeft:hover {
  animation-play-state: paused;
}
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-slide-toRight {
  animation: slideRight 15s linear infinite;
}
.animate-slide-toRight:hover {
  animation-play-state: paused;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.spin {
  animation: rotate 25s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-reverse {
  animation: spin-reverse 25s linear infinite;
}
@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* * > * {
  border: 1px solid red;
} */
