@import "base.css";
@import "shapes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.pos-1 {
  top: 30%;
  right: 2.5rem;
}
.pos-2 {
  top: 33%;
  left: 3rem;
}
.pos-3 {
  top: 66%;
  left: 1.5rem;
}
.topRight {
  top: 2.5rem;
  right: 1.5rem;
}

.text-stroke {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* * > * {
  border: 1px solid red;
} */
