@import "base.css";
@import "shapes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.pos-1 {
  top: 30%;
  right: 2.5rem;
}
.pos-2 {
  top: 33%;
  left: 3rem;
}
.pos-3 {
  top: 66%;
  left: 1.5rem;
}
.topRight {
  top: 2.5rem;
  right: 1.5rem;
}

.text-stroke {
  stroke-linejoin: round;
  text-anchor: middle;
  paint-order: stroke fill;
  /* stroke: white; */
  stroke-width: 3px;
}

/* * > * {
  border: 1px solid red;
} */
