/* profile (Home) */
.inverted-border-radius::before {
  content: "";
  position: absolute;

  /* background-color: #0074d9; */
  rotate: 180deg;
  left: -25px;
  top: 1px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 24px;
  box-shadow: 0 -25px 0 0 white; /* This is where the magic happens! */
}

.inverted-border-radius::after {
  content: "";
  position: absolute;

  /* background-color: #0074d9; */
  rotate: 180deg;
  right: 0;
  top: -97%;
  height: 50px;
  width: 25px;
  border-top-left-radius: 24px;
  box-shadow: 0 -25px 0 0 white;
}

/* Buttons (Home) */
.inverted-border-radius-button::before {
  content: "";
  position: absolute;

  /* background-color: #0074d9; */
  rotate: 180deg;
  right: 40px;
  top: 0px;
  height: 15px;
  width: 25px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -10px 0 0 white;
}
.inverted-border-radius-button::after {
  content: "";
  position: absolute;

  /* background-color: #0074d9; */
  rotate: 0;
  right: 40px;
  top: 25px;
  height: 10px;
  width: 25px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -5px 0 0 white;
}
@media (max-width: 700px) {
  .inverted-border-radius-button::before {
    top: -4px;
    right: 36px;
  }
  .inverted-border-radius-button::after {
    top: 21px;
    right: 36px;
  }
}

/* Recent (Projects) */
.project-logo-inverted-border-top-right::before {
  content: "";
  position: absolute;

  rotate: 0deg;
  right: -47px;
  top: 0px;
  height: 80px;
  width: 50px;
  border-top-left-radius: 2.5rem;
  box-shadow: 0 -2.5rem 0 0 white;
}

.project-logo-inverted-border-top-right::after {
  content: "";
  position: absolute;

  rotate: 0deg;
  left: 0;
  top: 100%;
  height: 80px;
  width: 50px;
  border-top-left-radius: 2.5rem;
  box-shadow: 0 -2.5rem 0 0 white;
}

.project-title-container-inverted-border-bottom-left::before {
  content: "";
  position: absolute;

  rotate: -90deg;
  left: 15px;
  top: -64px;
  height: 80px;
  width: 50px;
  z-index: 10;
  border-top-left-radius: 2.5rem;
  box-shadow: 0 -2.5rem 0 0 white;
}

/* .title-container * {
  border: 1px solid red;
} */

.title-container::before {
  content: "";
  position: absolute;

  /* background-color: blue; */
  rotate: -90deg;
  left: 15px;
  top: -65px;
  height: 80px;
  width: 50px;
  z-index: 10;
  border-top-left-radius: 2.5rem;
  box-shadow: 0 -2.5rem 0 0 white;
}

.title-tag::before {
  content: "";
  position: absolute;

  /* background-color: blue; */
  transform: rotate(-90deg);
  right: -49.55px;
  top: -10px;
  height: 80px;
  width: 19px;
  border-top-left-radius: 2rem;
  box-shadow: 0 -2rem 0 0 white;
}

.title-h1-p1::before {
  content: "";
  position: absolute;

  /* background-color: blue; */
  transform: rotate(-90deg);
  right: -65.5px;
  bottom: -15.5px;
  height: 80px;
  width: 51px;
  border-top-left-radius: 2.5rem;
  box-shadow: 0 -2.5rem 0 0 white;
}

.title-h1-p2::before {
  content: "";
  position: absolute;

  /* background-color: blue; */
  transform: rotate(-90deg);
  right: -65px;
  bottom: -15.5px;
  height: 80px;
  width: 50px;
  border-top-left-radius: 2.5rem;
  box-shadow: 0 -2.5rem 0 0 white;
}
